html,
body {
  font-size: 16px; 
  max-width: 100vw;
  overflow-x: hidden;
}
* {
  box-sizing: border-box; /**/
  margin: 0;
  padding: 0;
  font-size: 100%;
  outline: 0;
  vertical-align: baseline;
  font-family: 'Avenir Next', 'Proxima Nova', 'Avenir', sans-serif !important;
}
:root {
  --black: #1a1a1a;
  --dgray: #696969;
  --gray: #969696;
  --lightgray: #F1F1F1;
  --white: #FFFFFF;
  --red: #FF4848;
  --shadow: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
  --light-shadow: drop-shadow(1px 1px 7px rgba(0, 0, 0, 0.1));
  --text-mult: 1;
  --regular: 400;
  --medium: 500;
  --demi: 600;
  --bold: 700;
}
.content-wrapper {
  width: 1140px;
  margin: auto;
}
@media (max-width: 1140px) {
  .content-wrapper { 
    width: auto;
    margin: auto 12%; 
  }
}
@media (max-width: 720px) {
  .content-wrapper { 
    width: auto;
    margin: auto 5%; 
  }
}

/*
  Images
*/
/* Necessary to remove extra whitespace under image */
img {
  display: block;
}

/*
  Typography
*/
a, h1, h2, h3, h4, h5, p {
  font-weight: var(--medium);
  color: var(--black);
}
h1, h2, h3, h4, h5, p {
  width: 100%;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
}
a {
  color: inherit;
  text-decoration: none;
}
h1 {  /* 54 */
  font-size: calc(3.375rem * var(--text-mult));
  font-weight: var(--demi);
}
h2 {  /* 32 */
  font-size: calc(2rem * var(--text-mult));
}
h3 {  /* 24 */
  font-size: calc(1.5rem * var(--text-mult));
}
h4 {  /* 18 */
  font-size: calc(1.125rem * var(--text-mult));
  color: var(--gray);
}
h5 {  /* 14 */
  font-size: calc(0.875rem * var(--text-mult));
  color: var(--gray);
}
p {   /* 24 */
  font-size: calc(1.5rem * var(--text-mult));
  line-height: 1.5;
}
.small-body {  /* 22 */
  font-size: calc(1.375rem * var(--text-mult));
  font-weight: var(--regular);
}
ol, ul {
  padding-left: 4rem;
}
.bold {
  font-weight: var(--bold) !important;
}
.demi {
  font-weight: var(--demi) !important;
}
.medium {
  font-weight: var(--medium) !important;
}
.regular {
  font-weight: var(--regular) !important;
}
.italic {
  font-style: italic !important;
}

/*
  Effects
*/
.shadow {
  filter: var(--shadow);
}
.no-shadow {
  filter: none !important;
}

/*
  Links
*/
.link {
  text-decoration: underline 2px;
  text-underline-offset: 3px;
}
.link:hover span {
  opacity: 0.8;
}
.link .arrow-link {
  transition: all 0.5s;
}
.link:hover .arrow-link {
  transform: translateX(10px);
}
.arrow-link {
  display: inline-block;
  height: 20px;
  width: auto !important;
  margin-left: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
