/*
  Images
*/
.project-page img {
  width: 100%;
  filter: var(--light-shadow);
}

/*
  Global
*/
.project-page a {
  font-weight: var(--regular);
}
.project-page a:hover {
  opacity: 0.6;
  color: var(--black);
  transition: all 0.5s;
}

/*
  Intro
*/
.project-page .title {
  margin-top: 11rem;
}
.project-page .title img {
  width: 4.5rem;
  filter: none;
}
.project-page .title h1 {
  margin-top: 2rem;
}
.project-page .title h5 {
  margin-top: 0.5rem;
  color: var(--gray);
}

/*
  Body Sections
*/
.project-page h2 {
  font-weight: 600;
  margin-top: 4rem;
}
.project-page h3 {
  font-weight: 600;
  margin-top: 2.5rem;
}
.project-page section p {
  margin-top: 1.5rem;
  margin-bottom: 0;
}
.project-page section > ul, .project-page section ol {
  margin-top: 1rem;
  margin-bottom: 0;
}
.project-page section li {
  margin-top: 0.5rem;
}
.project-page section img, .project-page section iframe {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  border: none;
}
.project-page .caption {
  margin-top: 1rem;
}
/* Slightly larger margin if p is after an image */
.project-page section img + p {
  margin-top: 2rem;
}
/* Slightly larger margin if h3 is after an image */
.project-page section img + h3 {
  margin-top: 2rem;
}
.project-page a {
  text-decoration: underline;
}


